@{
    ViewBag.Title = "Index";
}

<h2>Social Media</h2>

<div class="row padding-bot-1 padding-left-1 padding-right-1">
    <div class="col-xs-6">
        <div class="padding-right-half">
            <div class="row margin-bot-half" style="border: 1px solid black">
                <h4 class="text-center">Twitter</h4>
            </div>
            <div class="row margin-bot-half" style="border: 1px solid black">
                <h4 class="text-center"></h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="padding-right-half padding-left-half">
            <div class="row margin-bot-half" style="border: 1px solid black">
                <h4 class="text-center">Facebook</h4>
            </div>
            <div class="row margin-bot-half" style="border: 1px solid black">
                <h4 class="text-center"></h4>
            </div>
        </div>
    </div>
</div>
