<h2>Index</h2>
<div class="row padding-bot-1 padding-left-1 padding-right-1">
    <div class="col-xs-8">
        <div class="padding-right-half">
            <div class="row margin-bot-half" style="border: 1px solid black">
                <div class="row">
                    <div class="col-xs-12">
                        Giani Noyez, 23/08/2015 - 20:42
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        Gaming, Technology, Gadgets
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        217 comments
                    </div>
                </div>
            </div>
            <div class="row margin-bot-half" style="border: 1px solid black">
                <div class="row">
                    <div class="col-xs-12">
                        Giani Noyez, 23/08/2015 - 20:42
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        Gaming, Technology, Gadgets
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        217 comments
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="padding-left-half">
            <div class="row margin-bot-half" style="border: 1px solid black">
                <div class="row">
                    <div class="col-xs-12">
                        Sidebar Item 1
                    </div>
                </div>
            </div>
            <div class="row margin-bot-half" style="border: 1px solid black">
                <div class="row">
                    <div class="col-xs-12">
                        Sidebar Item 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>